<%# CommentsControllerのcreateアクションを呼び出すことでコメントを新規作成 %>
<%# form_with呼び出しで配列を1つ渡す。これは /articles/1/comments のような %>
<%# 「ネストしたルーティング」を生成する。 %>

<%= form_with(model: [ @article, @article.comments.build ],
              local: true) do |form| %>
  <%# <p> %>
    <%# <%= form.label :commenter, 'コメンター：' %>
    <%# <%= form.text_field :commenter %>
  <%# </p> %>

  <p>
    <%= form.label :body, 'コメント本文：' %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
