<%# フォームを生成するパーシャル %>
<%= form_with model: @article, local: true do |form| %>
  <%# エラーメッセージの表示 %>
  <div class="container">
    <% if @article.errors.any? %>
      <div class="alert alert-danger alert-dismissible fade show"
            id="error_explanation" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h2>
          <%# pluralize は上手く動かなかった。(i18nの影響?) %>
          <%# <%= pluralize(@article.errors.count, "error") %>
          この記事は保存されませんでした。：
        </h2>
        <ul>
          <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  <%# 表示する項目 ここから %>
  <div class="container">
    <p>
      <%= form.label :title, 'タイトル：' %><br>
      <%= form.text_field :title %>
    </p>

    <p>
      <%= form.label :text, '本文：' %><br>
      <%= form.text_area :text %>
    </p>

    <p>
      <%= form.submit %>
    </p>
  </div>
  <%# 表示する項目 ここまで %>
<% end %>
