<%= provide(:title, @article.title) %>

<div class="container">
  <div class="row my-2">
    <h1>記事の詳細</h1>
  </div>
</div>

<div class="container">
  <%# 記事表示部分 ここから %>
  <div class="row">
    <div class="col">
      <div class="card bg-light my-2">
        <div class="card-header d-flex justify-content-between">
          <div>
            <%# 投稿日 %>
            <%= @article.created_at.strftime('%Y年%m月%d日 %H:%M') %>
          </div>
          <%# PC用画面表示 %>
          <div class="d-none d-lg-inline">
            <%= link_to '記事の編集', edit_article_path(@article) %> | 
            <%= link_to '記事の削除', article_path(@article),
                method: :delete, data: { confirm: '本当に削除しますか？' } %>
          </div>
          <%# スマホ・タブ用画面表示 %>
          <div class="d-lg-none d-inline">
            <%= link_to edit_article_path(@article), method: :get do %>
              <i class="fas fa-edit"></i>
            <% end %>
            <%= link_to article_path(@article), method: :delete,
                data: { confirm: '本当に削除しますか？' } do %>
              <i class="fas fa-trash-alt"></i>
            <% end %>
          </div>
        </div>
        <div class="card-body">
          <%# 記事のタイトル %>
          <h4 class="card-title">
            <%= @article.title %>
          </h4>
          <%# 記事の投稿者名 %>
          <% user_id   = Comment.find_by(article_id: @article.id).user_id %>
          <% user_name = User.find(user_id).username %>
          by <%= link_to user_name, user_path(id: user_id) %><br>
          <%# 記事の写真 %>
          <% if @article.picture? %>
            <%= image_tag(@article.picture.url, class: "img-fluid") %>
          <% else %>
            <%= image_tag('default.jpeg', class: "img-fluid") %>
          <% end %>
          <%# 記事の本文 %>
          <p class="card-text">
            <%= @article.text %>
          </p>
        </div>
        <div class="card-footer text-left">
          <%= link_to '記事の一覧へ戻る', articles_path %>
        </div>
      </div>
    </div>
  </div>
  <%# 記事表示部分 ここまで %>
  <%# コメント表示部分 ここから %>
  <div class="row">
    <div class="col">
      <h2>コメント</h2>
      <% @comments = Comment.where.not(body: nil).where(article_id: @article.id) %>
      <%= render 'comments/comment', comments: @comments %>
    </div>
  </div>
  <%# コメント表示部分 ここまで %>
  <%# コメント投稿フォーム ここから %>
  <div class="row">
    <div class="col">
      <h2>コメントを投稿する</h2>
      <%= render "comments/form" %>
    </div>
  </div>
  <%# コメント投稿フォーム ここまで %>
</div>
