<header>
  <%# ナビゲーションバー　ここから %>
  <nav class="navbar navbar-expand-lg navbar-dark sticky-top">
    <%# サブコンポーネント　ここから %>
    <div class="container">
      <%# ブランド %>
      <%= link_to "Blog", root_path, class: "navbar-brand" %>
      <%# 切り替えボタン %>
      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbar-content" aria-controls="navbar-content"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%# ナビゲーションメニュー　ここから %>
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "ホーム", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "このブログについて", about_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "記事の一覧", articles_url, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
            <%= link_to "ユーザーの一覧", users_path, class: "nav-link" %>
          <% end %>
          <li class="nav-item">
            <%= link_to "ヘルプ", help_path, class: "nav-link" %>
          </li>
        </ul>
        <ul class="navbar-nav">
          <% if user_signed_in? %>
            <%# ドロップダウン %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenu"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= current_user.username %>
              </a>
              <div class="dropdown-menu mt-2" aria-labelledby="navbarDropdownMenu">
                <%= link_to "プロフィール", user_path(id: current_user.id),
                class: "dropdown-item" %>
                <%= link_to "プロフィール変更", edit_user_registration_path,
                class: "dropdown-item" %>
                <%= link_to "ログアウト", destroy_user_session_path,
                class: "dropdown-item", method: :delete %>
              </div>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "サインアップ", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "ログイン", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
      <%# ナビゲーションメニュー　ここまで %>
    </div>
    <%# サブコンポーネント　ここまで %>
  </nav>
  <%# ナビゲーションバー　ここまで %>
</header>
